// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#box{
  height: 400px;

}
.image1 {
  background-image: url(page00586941.jpg);
}
.image2 {
  background-image: url(29e1c1e788ed168a2ab647850e7307c0.jpg);
}
.image3 {
  background-image: url(bf4fd7a5f1090ad7ea3cc18797e3482b.jpg);
}
.image4 {
  background-image: url(image4.jpg);
}

.box1 {
  height: 200px;
  width: 200px;
  background-color: #FFFFFF;
  float: left;
}

.bg1 {
  background-color: #FFAAAA;
}

.bg2 {
  background-color: #FFBBBB;
}

.bg3 {
  background-color: #FFCCCC;
}

.bg4 {
  background-color: #FFDDDD;
}

.top {
  text-align: center;
  margin: 50px 0;
}

.image-box {
  height: 300px;
  width: 600px;
  margin: 0 auto 50px;
  background-color: #eee;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
