// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#box{
  height: 400px;

}
.image1 {
  background-image: url(page00586941.jpg);
}
.image2 {
  background-image: url(29e1c1e788ed168a2ab647850e7307c0.jpg);
}
.image3 {
  background-image: url(bf4fd7a5f1090ad7ea3cc18797e3482b.jpg);
}
.image4 {
  background-image: url(image4.jpg);
}