<div class="container">
  <div class="row">
    <div class="col-2">
      <h2 class="test">声優一覧</h2>
      <p>水無いのり</p>
      <p>佐倉綾音</p>
    </div>
    <div class="col-10">
      <div id="box">
        <div id="images">
          <div class="image1"></div>
          <div class="image2"></div>
          <div class="image3"></div>
          <div class="image4"></div>
        </div>
    　</div>
    　<div class="row">
    　  <h2>なぜこんなにも声優は人気なのか</h2>
    　 <p>アニメのキャラクターになりきってセリフを言う声優たちは、若者たちにとっての一番の憧れ、スター。その入れ込み方や熱っぽさ、知識の蓄積ぶりは尋常ではない。
    　     声優さんたちは、一般社会での知名度は必ずしも高くない。一般の大人たちや、雑誌レベルでは、アイドルや若手俳優たちの知名度が高いのだろう。しかし、若者たちはむしろ声優たちを熱狂的に支持している 。</br>

    　    そんな中でも一際人気声優水瀬いのりに深堀していこう。</br>

    　    水瀬 いのり（みなせ いのり、1995年12月2日[8] - ）は、日本の女性声優、歌手。東京都出身[5]。アクセルワン所属[5]。レコードレーベルはKING AMUSEMENT CREATIVE[7]。愛称はいのりちゃん[1][2]、いのりん[3][4]。公式ファンクラブはいのりまち[9]。</br>
    　    いのりまち町民はとても気持ちが悪い
    　  </p>
    　</div>
    </div>
    <div class="box1">
    </div>
  </div>
</div>


